<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FirstApp</title>

<!-- ajout app fusioncharts  -->
{% load static %} 
   <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
   <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script>
 
   </head>
    <body>
        <h1>Ma première application Django!</h1>
        <a href="http://dallard.tech/">About Me</a><br>
        <a href="about/">Clients</a><br>
        
        <p>Je sais pas trop encore</p>
	
    </body>
</html>



