Django==1.11.13  
django-excel==0.0.10
django-jet==1.0.7
pycparser==2.18
pyexcel==0.5.8
pyexcel-io==0.5.7
pyexcel-webio==0.1.4
pyexcel-xls==0.5.7
pyexcel-xlsx==0.5.6
s3transfer==0.1.13
tablib==0.12.1
